export AGENT_HTTP_ADDRESS=localhost:8080
export AGENT_POOL_INTERVAL=2s
export AGENT_REPORT_INTERVAL=10s
export AGENT_CRYPTO_KEY=/path/to/key
export AGENT_CONFIG=/path/to/config

export SERVER_HTTP_ADDRESS=:8080
export SERVER_HASH_SERVICE_KEY=key
export SERVER_AUDIT_FILE=/path/to/file
export SERVER_DECRYPT_SERVICE_CRYPTO_KEY=/path/to/key
export SERVER_CONFIG=/path/to/config